:root {
    --primary-color: #92aa83;
    --secondary-color:#f1f7ee;
    --tertiary-color: #b0bea9;
    --accessory-color-1: #e0edc5;
    --accessory-color-2: #e7f59e;
}

/* header section */
header {
    padding: 15px 10px;
    background-color: #b0bea9;
    justify-content: center;
}
header h1 {
    font-family: 'Fjalla One, sans-serif';
    font-weight: bold;
    color: #f1f7ee;
}
header nav  {
   margin: 1px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    font-weight: lighter;
    color: #f1f7ee;
}
/* .hero {
    background-image: url("./images/FullSizeRender.jpg");
    background-size: contain;
    background-position: center;
    height: 146px;
    width: 1128px;
    opacity: .5;
} */

.section-title h2 {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid #e7f59e;
    color: var(--primary-color);
    text-align: center;
    margin: 30px auto;
    width: 25%;
    font-size: 36px;
}

/* start about me section */
.about-me {
 display: flex;
 flex-wrap: wrap;
 box-sizing: border-box;
 border: 1px solid blue;
 height: 300px;
 width: 100px;
}

.about-me img {
    object-fit: contain;

    height: 25px;
    height: 25px;

}

.about-me-bio {
    text-align: right;
    width: 45%;
    margin: 2%;
    color: #92aa83;
    font-size: 18px;
}

/* start The Work section */
.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin: 10px;
    flex: 1;
    background: #92aa83;
    border: 2px solid;
    border-radius: 50px;
    color: #f1f7ee;
}
.project {
    margin: 10px;
    flex: 1;
    background: #92aa83;
    border: 2px solid;
    border-radius: 50px;
    color: #f1f7ee;
}

.project h3 {
    font-style: var(--secondary-color);
    font-weight: bold;
    font-size: 24px;
    margin-left: 25px;
}

.project h4 {
    color: #e7f59e;
    margin-left: 25px;
    font-size: 1.33vw;
    font-style: italic;
}

.project p {
    text-align: center;
    margin: 25px;
}

/* start contact section */
.contact-info {
    text-align: center;

}

.contact-info ul li {
    list-style: none;
    justify-content: baseline;
}